   <!-- modal content flex display left panel mobile -->
    <div class="modal-content-menu" id="modal-content-menu" hidden>
        <div class="modal-content">
        </div>
        <div class="share-bottum-menu">
            <nav class="share-button" id="share-button" aria-label="Share menu" aria-expanded="false" role="navigation">
                        <ul>
                            <li class ="nav-item dropdown" role="none">
                                <button class="header-toggle" type="button" aria-expanded="false" aria-controls="share-menu" data-target="share-menu" aria-label="Open Share menu" role="menuitem" tabindex="0">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-label="Share">
                                            <path d="M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42L17.59 5H14V3z"/>
                                            <path d="M5 5h4V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-4h-2v4H5V5z"/>
                                        </svg>
                                    </span>
                                    Share
                                    <svg class="toggle-arrow" width="12" height="12" viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M7 10l5 5 5-5z" fill="currentColor"/>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
        </div>
    </div>
