{% assign lang = page.lang | default: site.default_lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">

  <head>
    {% seo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Aldo Reyes’s BI Portfolio" />
    <meta property="og:description" content="Explore scalable documentation and modular BI solutions." />
    <meta property="og:image" content="https://aldoreyes84.github.io/assets/images/portfolio_flyer.jpg" />
    <meta property="og:url" content="https://aldoreyes84.github.io/" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!--<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">-->
    <!-- Add any other CSS or meta tags you need -->
     </head>
<body data-lang="{{ lang }}">
        <!--Header-->
       
        {% include header.html %}

         <!-- Dropdown Panel with variable content -->

        {% include dropdown_header_panel.html %}

        <!-- modal content flex display left panel mobile -->
       
        {% include left_mobile_panel.html %}

        <!-- Main Content Area with Sidebar -->
     <div class="layout-body-content">

            <!--Section-->
            
            {% include section.html %}

            <!-- Main -->
            
            {% include main.html %}
            
            <!-- Aside -->
            <aside class="article-nav">
               
                <ul class="article-nav-list">
                   
                </ul>
            </aside>
        </div>
        {% include footer.html %}

    </body>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

</html>
